@page "/"
@inject IJSRuntime JSRuntime
@inject HttpClient Http

<PageTitle>Whack'Em-All</PageTitle>

@if (State.IsGameStarted)
{
    <div class="game-container">
        <h3>Welcome to Whack'Em-All</h3>

        <div class="info-container">
            <h2>Score: @CurrentPlayer.Score</h2>
            <h2>Remaining Time: @State.CurrentTime</h2>
        </div>

        <div class="canvas">
            @foreach (var s in CurrCellManager.Cells)
            {
                <Cell CellModel="s" OnMouseUp="() => MouseUp(s)" />
            }
        </div>

        <audio id="hitSound" src="hitsound.mp3" preload="auto"></audio>
        <audio id="missSound" src="misssound.mp3" preload="auto"></audio>
    </div>
}
else if (CurrLeaderboardManager.ShowLeaderboard)
{
    <div class="leaderboard-page">
        <h1>Leaderboard</h1>
        <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < CurrLeaderboardManager.Entries.Count; i++)
                {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@CurrLeaderboardManager.Entries[i].Name</td>
                        <td>@CurrLeaderboardManager.Entries[i].Score</td>
                    </tr>
                }
            </tbody>
        </table>
        <button @onclick="CloseLeaderboard">Back to Menu</button>
    </div>
}
else
{
    <div class="start-menu">
        <h1>Welcome to Whack'Em-All!</h1>
        <div class="Instructions">
            <p> How to play?? </p>
            <ul>
                <li>The game consists of a 4x4 grid. Every second, a smiley will appear in one of the grid cells.</li>
                <li>You need to collect these smileys by clicking on them.</li>
                <li>Each time you collect one, your score will increase by one.</li>
                <li>You have 60 seconds to play. The game will end after that.</li>
            </ul>
            <p>ALL THE BEST!!!</p>
        </div>

        <div class="Buttons">
        <button @onclick="ShowNamePrompt">Start Game</button>
        <button @onclick="ViewLeaderboard">View Leaderboard</button>
        </div>
    </div>
}

@if (CurrLeaderboardManager.ShowNamePrompt)
{
    <div class="modal-overlay">
        <div class="modal-content">
            <h1>Enter Your Name</h1>
            <input type="text" @bind="CurrentPlayer.Name" placeholder="Name" />
            <button @onclick="StartGame">Start Game</button>
            <button @onclick="CancelNamePrompt">Cancel</button>
        </div>
    </div>
}

@if (State.ShowGameOverModal)
{
    <div class="modal-overlay">
        <div class="modal-content">
            @if (CurrentPlayer.Score < 45)
            {
                <h2>Oops ... Game Over!</h2>
                <p>Your final score is: @CurrentPlayer.Score</p>
            }
            else
            {
                <h2>You Won!</h2>
                <p>Your final score is: @CurrentPlayer.Score</p>
            }
            <button @onclick="RestartGame">Restart Game</button>
            <button @onclick="ReturnToStartMenu">Return to Start Menu</button>
            <button @onclick="ViewLeaderboard">View Leaderboard</button>
        </div>
    </div>
}

@code {
    private Random random = new Random();
    public async Task ViewLeaderboard()
    {
        try
        {   
            State.ShowGameOverModal = false;
            State.IsGameStarted = false;
            var response = await Http.GetFromJsonAsync<List<LeaderboardEntry>>($"{ServerUrl}/leaderboard");
            Console.WriteLine(response);
            if (response != null)
            {
                CurrLeaderboardManager.Entries = response;
                CurrLeaderboardManager.ShowLeaderboard = true;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching leaderboard: {ex.Message}");
        }
    }

    public void CloseLeaderboard() => CurrLeaderboardManager.ShowLeaderboard = false;
    public void ShowNamePrompt() => CurrLeaderboardManager.ShowNamePrompt = true;

    public void CancelNamePrompt()
    {
        CurrLeaderboardManager.ShowNamePrompt = false;
        CurrentPlayer.Name = string.Empty;
    }

    public async Task MouseUp(CellModel s)
    {
        if (State.IsGameRunning)
        {
            if (s.Id == State.HitPosition)
            {
                CurrentPlayer.Score += 1;
                await PlayHitSound();
            }
            else
            {
                await PlayMissSound();
            }
        }
    }

    protected async Task PlayHitSound() => await JSRuntime.InvokeVoidAsync("playSound1");
    protected async Task PlayMissSound() => await JSRuntime.InvokeVoidAsync("playSound2");
    public void setNextAppearance()
    {
        foreach (var item in CurrCellManager.Cells)
        {
            item.IsShown = false;
        }

        int randomPosition;
        do
        {
            randomPosition = random.Next(0, 16);
        } while (State.LastPosition == randomPosition);

        CurrCellManager.Cells[randomPosition].IsShown = true;
        State.HitPosition = randomPosition;
        State.LastPosition = randomPosition;
    }

    protected virtual async Task GameLoopAsync(PeriodicTimer timer)
    {
        while (State.IsGameRunning)
        {
            setNextAppearance();
            StateHasChanged();
            await timer.WaitForNextTickAsync();
            StateHasChanged();
        }
    }

    protected virtual async Task GameTimeAsync(PeriodicTimer timer)
    {
        while (State.IsGameRunning)
        {
            if (State.CurrentTime == 0)
            {
                await EndGame();
                break;
            }
            await timer.WaitForNextTickAsync();
            State.CurrentTime--;
            StateHasChanged();
        }
    }

    public void StartGame()
    {
        if (string.IsNullOrWhiteSpace(CurrentPlayer.Name))
        {
            Console.WriteLine("Please enter a valid name.");
            return;
        }
        CurrLeaderboardManager.ShowNamePrompt = false;
        State.IsGameStarted = true;
        CurrentPlayer.Score = 0;
        State.CurrentTime = 60;
        State.IsGameRunning = true;
        State.ShowGameOverModal = false;

        Config.GameLoopTimer = new PeriodicTimer(TimeSpan.FromMilliseconds(Config.GameSpeed)); 
        _ = GameLoopAsync(Config.GameLoopTimer);

        Config.GameTimeTimer = new PeriodicTimer(TimeSpan.FromSeconds(1));
        _ = GameTimeAsync(Config.GameTimeTimer);
    }

    public async Task EndGame()
    {
        State.IsGameRunning = false;
        State.ShowGameOverModal = true;
        Config.GameLoopTimer?.Dispose();
        Config.GameTimeTimer?.Dispose();
        
        await SendScoreToServer(CurrentPlayer.Score); 
    }

    public void RestartGame() => StartGame();

    public void ReturnToStartMenu()
    {
        State.ShowGameOverModal = false;
        State.IsGameStarted = false;
    }

    public virtual async Task SendScoreToServer(int score)
    {
        var response = await Http.PostAsJsonAsync($"{ServerUrl}/", new { name = CurrentPlayer.Name, score });
        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Score successfully sent to the server.");
        }
        else
        {
            Console.WriteLine($"Failed to send score. Status Code: {response.StatusCode}");
        }
    }
}