@page "/"
@inject IJSRuntime JSRuntime
@using MoleProject.Shared;

<PageTitle>Whack'Em-All</PageTitle>

@if (isGameStarted)
{
    <div class="game-container">
        <h1>Welcome to Whack'Em-All</h1>

        <div class="info-container">
            <h2>Score: @score</h2>
            <h2>Remaining Time: @currentTime</h2>
            <!-- <h2>@message</h2> -->
        </div>

        <div class="canvas">
            @foreach (var s in Cells)
            {
                <Cell CellModel="s" OnMouseUp="() => MouseUp(s)" />
            }
        </div>

        <audio id="hitSound" src="hitsound.mp3" preload="auto"></audio>
        <audio id="missSound" src="misssound.mp3" preload="auto"></audio>
    </div>
}
else
{
    <div class="start-menu full-screen">
        <h1>Welcome to Whack'Em-All!</h1>
        <p> How to play?? </p>
        <h2>Try to pick as many smileys as you can :)</h2>
        <p>Are you ready to start the game?</p>
        <button @onclick="StartGame">Start Game</button>
    </div>
}

@if (showGameOverModal)
{
    <div class="modal-overlay">
        <div class="modal-content">
            @if(@score < 45){
                <h2> Oops ...Game Over !!</h2>
                <p>Your final score is: @score</p>
            }else{
                <h2>You Won !!</h2>
                <p>Your final score is: @score</p>
            }
            <button @onclick="RestartGame">Restart Game</button>
            <button @onclick="ReturnToStartMenu">Return to Start Menu</button>
        </div>
    </div>
}

@code {
    private Random random = new Random();
    private int? lastPosition = null;
    protected async Task MouseUp(CellModel s)
    {
        if (isGameRunning)
        {
            if (s.Id == hitPosition)
            {
                score += 1;
                await PlayHitSound(); 
            }else{
                await PlayMissSound();
            }
        }
    }

    protected async Task PlayHitSound()
    {
        await JSRuntime.InvokeVoidAsync("playSound1");
    }

    protected async Task PlayMissSound()
    {
        await JSRuntime.InvokeVoidAsync("playSound2");
    }


    public void setNextAppearance()
    {
        foreach (var item in Cells)
        {
            item.IsShown = false;
        }

        int randomPosition;

        do
        {
            randomPosition = random.Next(0, 16);
        } while (lastPosition == randomPosition);

        Cells[randomPosition].IsShown = true;
        hitPosition = randomPosition;
        lastPosition = randomPosition;
    }

    protected virtual async Task GameLoopAsync(PeriodicTimer timer)
    {
        while (isGameRunning)
        {
            setNextAppearance();
            StateHasChanged();
            await timer.WaitForNextTickAsync();
        }
    }

    protected virtual async Task GameTimeAsync(PeriodicTimer timer)
    {
        while (isGameRunning)
        {

            if (currentTime == 0)
            {
                EndGame();
                break;
            }

            StateHasChanged();
            await timer.WaitForNextTickAsync();
            currentTime--;
        }
    }

    public void StartGame()
    {
        isGameStarted = true;
        score = 0;
        currentTime = 60; // Reset time
        isGameRunning = true;
        message = "";
        showGameOverModal = false;

        gameLoopTimer = new PeriodicTimer(TimeSpan.FromMilliseconds(gameSpeed));
        _ = GameLoopAsync(gameLoopTimer);

        gameTimeTimer = new PeriodicTimer(TimeSpan.FromSeconds(1));
        _ = GameTimeAsync(gameTimeTimer);
    }

    public void EndGame()
    {
        message = "Game Over";
        isGameRunning = false;
        showGameOverModal = true;
        gameLoopTimer?.Dispose();
        gameTimeTimer?.Dispose();

    }


    private void RestartGame()
    {
        showGameOverModal = false;
        StartGame();
    }

    private void ReturnToStartMenu()
    {
        showGameOverModal = false;
        isGameStarted = false;
    }
}
